body{
    overflow-x: hidden;
    /* background: #faf6ef; */
    background: white;
    position: relative;
}


::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #8f9292; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background: #5a5b5c; 
}

.main-container{
    width: 300vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.main-container section{
    width: 100vw;
    height: 100vh;
    /* display: flex;     */
}

/* .sub-container{
    width: 300vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
} */

.noise {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-image: url("https://uploads-ssl.webflow.com/60a10d10674abac215740e55/60abb323075ce1fe6134bf00_noise.png");
    background-position: 0px 0px;
    animation: animate 0.5s steps(2) infinite;
}

@keyframes animate
{
    0% { transform: rotateZ(0deg);}
    100% { transform: rotateZ(180deg);}
}

.noise.non_clickable {
    top: 0px;
    display: block;
    max-width: 100%;
    pointer-events: none;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 0.78vw 0 0.78vw 0;
    background: transparent;
    z-index: 1001;
    /* background-color: rgb(21, 21, 22, 0.3);
    backdrop-filter: blur(15px); */
}

nav.black{
    background: #1A1919;
    /* background-color: rgb(21, 21, 22, 0.3);
    backdrop-filter: blur(25px); */
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin-top: 0.52vw;
    margin-bottom: 0px;
    transition: 0.5s;
}

nav.black ul{
    height: 2.08vw;
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin-top: -2.08vw;
    margin-bottom: 0px;
    transition: 0.5s;
}

nav ul li{
    display: inline-block;
    padding: 0.42vw;
    margin-top: -0.05vw;
    /* height: 2.08vw; */
    height: 100%;
}

nav ul li a{
    /* display: inline-block; */
    /* padding: 0 0; */
    text-decoration: none;
    text-transform: uppercase;
    /* font-family: 'Archivo', sans-serif; */
    font-family: 'Archivo', sans-serif;
    font-size: 0.65vw;
    line-height: 0.65vw;
    font-weight: 400;
    letter-spacing: 0.17vw;
    padding: 0 0.78vw;
    color: white;
    background: transparent;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
}

.underline:after{
    display: block;
    content: '';
    background-color: white;
    height: 0.05vw;
    width: 0;
    left: 0;
    margin-top: -0.57vw;
    margin-left: 0.26vw;
    transition: 0.3s ease-in-out;
}

.underline:hover:after{
    width: 100%;
    transition: 0.3s ease-in-out;
}

nav a.logo{
    display: block;
    position: relative;
    height: 3.38vw;
    width: 3.38vw;
    margin-left: 48%;
    transition: 0.3s ease-in-out;
}

nav.black a.logo{
    height: 2.08vw;
    width: 2.08vw;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
}

nav .logo img{
    filter: invert(1);
}

/* nav.black .logo img{
    width: 40px;
    height: 40px;
} */

/* Circular-text */

.Circular-text{
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    border: 2px solid white;
    /* background: #1A1919; */
    position: fixed;
    z-index: 1001;
    top: 28vw;
    left: 45vw;
    color: white;
    font-size: 1.43vw;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.Circular-text:hover{
    border: 2px solid #1A1919;
    color: white;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.Circular-text::before{
    content: '';
    position: absolute;
    /* top: var(--y);
    left: var(--x); */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #1A1919;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.Circular-text:hover::before{
    width: 101%;
    height: 101%;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

/* .Circular-text:hover{
    color: #1A1919;
    background: white;
    transition: 0.5s ease-out;
} */

.Circular-text.black{
    background: transparent;
    border: 1.5px solid #858483;
    color: #858483;
    top: 70%;
    left: 85%;
    /* color: white; */
    /* mix-blend-mode: difference; */
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.Circular-text.black:hover{
    background: transparent;
    border: 1.5px solid #1A1919;
    color: white;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.bgimgtext{
    position: relative;
    height: auto;
}

.bgimgtext img{
    background-size: cover;
    min-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center center;
}

.bgimgtext video{
    /* padding-top: 100px; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

.bgimgtext:after{
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    background: #1A1919;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
}

.carousel-inner img {

    /* background-size: cover; */
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.overlay{
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 50.78vw;
    background: #1A1919;
    opacity: 0.6;
    mix-blend-mode: hard-light;
}

.carousel-caption {
    /* position: absolute; */
    /* right: 15%;
    left: 15%; */
    bottom: 20px;
    max-height: 100vh;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 45%;
    transform: translateY(-55%);
    color: #ffffff;
    text-align: center;
}

/* Images */

.col-img{
    width: 100%;
    background-size: cover;
    /* min-width: 100%;
    max-height: 100vh; */
    border-radius: 1000px 1000px 0 0;
    object-fit: cover;
    object-position: center center;
}

.container {
    position: relative;
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.row{
    margin-left: auto;
    margin-right: auto;
}

.col{
    max-width: 100%;
    padding: 0 0 0 0;
    margin-left: 15px;
    margin-right: 15px;
    /* flex: 25%;
    -ms-flex: 25%;
    max-width: 100%; */
}

.column{
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 0 0;
    margin-left: 15px;
    margin-right: 15px;
    /* flex: 25%;
    -ms-flex: 25%;
    max-width: 100%; */
}

@media screen and (max-width: 1400px) {
    .col {
    -ms-flex: 45%;
    flex: 45%;
    max-width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

.Image-list{
    display: block;
    border-radius: 500px 500px 0 0;
    position: relative;
    background-color: transparent;
}

.Image-list img{
    /* position: relative; */
    width: 100%;
    border-radius: 500px 500px 0 0;
    /* height: auto; */
    margin-bottom: 10px;
    align-items: center;
    object-fit: cover;
    object-position: center center;
    transition: 0.5s ease-in-out;
}

.Image-list:hover img{
    width: 75%;
    /* transition: 0.3s ease-in-out; */
    transition: 0.3s ease-out;
}

.arrow {
    position: absolute;
    background: url("Arrow.svg") no-repeat center;
    opacity: 0;
}

.Image-list .arrow {
    right: 100px;
    top: 75%;
    margin-top: 0px;
    width: 60px;
    height: 16px;
    /* transition: all 0.7s cubic-bezier(0.23, 1, 0.38, 1) 0s; */
    transition: 0.5s ease-out;
}

.Image-list:hover .arrow {
    right: 50px;
    opacity: 1;
    /* transition: all 0.7s cubic-bezier(0.23, 1, 0.38, 1) 0s; */
    transition: 0.5s ease-out;
}

.Image-list .title{
    position: absolute;
    left: 0%;
    font-size: 20pt;
    font-weight: 300;
    color: #1A1919;
    /* mix-blend-mode: difference; */
}

.Image-list:hover .title {
    /* font-size: 100pt; */
    left: 5%;
    letter-spacing: 7pt;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.Image-list .body-text{
    width: 75%;
    margin-top: 37.5px;
    margin-left: 0;
}

.Image-list:hover .body-text{
    margin-left: 10%;
    transition: 0.3s ease-out;
}

.center-image{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center center;
}

/* Text */

.dp{
    font-family: 'Prata', serif;
    font-size: 18.23vw;
    line-height: 18.23vw;
    color: #1A1919;
}

.dp2{
    font-family: 'Prata', serif;
    font-size: 8.3vw;
    line-height: 8.3vw;
    color: #1A1919;
}

.Big-heading{
    /* text-transform: uppercase; */
    /* font-family: 'Philosopher', sans-serif; */
    /* font-family: 'Marcellus', serif; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Prata', serif;
    /* font-weight: 100; */
    font-size: 3vw;
    letter-spacing: 2pt;
    margin-bottom: 1vw;
}

.h2, h2{
    display: inline-block;
    /* position: absolute; */
    font-family: 'Archivo', sans-serif;
    color: #ffffff;
    font-size: 0.94vw;
    font-weight: 300;
}

.h3, h3{
    font-family: 'Prata', serif;
    font-size: 2.5vw;
    line-height: 3.125vw;
}

.h4, h4{
    font-family: 'Archivo', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    /* letter-spacing: 0.5px; */
}

.h5, h5{
    font-family: 'Archivo', sans-serif;
    font-size: 1.15vw;
    line-height: 1.3vw;
    font-weight: 500;
    margin-bottom: 0.1vw;
    /* letter-spacing: 0.5px; */
}


.title{
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    letter-spacing: 2pt;
    color: #1A1919;
    transition: 0.3s ease-in-out;
}

.body-text{
    /* position: absolute; */
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: 0.73vw;
    line-height: 1.09vw;
    color: #565859;
    transition: 0.3s ease-in-out;
}

.with-center{
    position: absolute;
    color: white;
    mix-blend-mode: difference;
}

a:hover{
    text-decoration: none;
}

/* button */

.cta-btn-light{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
    /* border: 2px solid #1A1919; */
    background: #1A1919;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
}

.cta-btn-light span{
    position: relative;
    z-index: 1;
}

.cta-btn-light:hover{
    /* border: 1px solid #1A1919; */
    background: #d6ccc5;
    color: #1A1919;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-light::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #d6ccc5;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-light:hover::before{
    width: 103%;
    height: 103%;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-dark{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
    /* border: 2px solid #1A1919; */
    background: white;
    color: #1A1919;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
}

.cta-btn-dark span{
    position: relative;
    z-index: 1;
}

.cta-btn-dark:hover{
    /* border: 1px solid #1A1919; */
    background: #d6ccc5;
    color: #1A1919;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-dark::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #d6ccc5;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-dark:hover::before{
    width: 103%;
    height: 103%;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-2{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 0.625vw;
    letter-spacing: 0.16vw;
}

.cta-btn-2 span{
    position: relative;
    z-index: 1;
}

.cta-btn-2:hover{
    border: 2px solid #1A1919;
    color: white;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-2::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #1A1919;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

.cta-btn-2:hover::before{
    width: 103%;
    height: 103%;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}


/* Input field */

.wrapper{
    width: 600px;
    margin-left: 0;
    margin-right: 0;
}

.footer-input-data{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100px;
    width: 600px;
    background: #1A1919;
}

.footer-input-data input{
    height: 100%;
    width: 100%;
    padding-top: 40px;
    border: none;
    border-bottom: 1.5px solid #1A1919;
    font-family: 'Archivo', sans-serif;
    color: #1A1919;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-input-data input:focus{
    outline: none;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

::placeholder{
    font-family: 'Archivo', sans-serif;
    color: #999795;
    font-size: 18px;
    font-weight: 300;
}

.footer-input-data input:focus::placeholder{
    opacity: 0;
    transition: .35s cubic-bezier(.3,.86,.36,.95);
}

/* .footer-input-data label{
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    font-family: 'Archivo', sans-serif;
    color: #b5b4b4;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-input-data input:focus label{
    opacity: 0;
} */

/* Footer */

/* .footer {
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A1919;
    color: white;

    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer ul{
    margin-top: 30px;
    list-style: none;
    padding: 0px;
}

.footer-col{
    width: 15%;
}

footer-h{
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 700;
    position: relative;
}

footer-h::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 100%;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 2px;
}

.footer-col ul li{
    height: 25px;
}

.footer-col ul li a{
    display: block;
    font-size: 10pt;
    color: #a5a8aa;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 5px;
} */

/* Social */

/* .footer-col .social-link{
    margin-left: -5px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #1A1919;
    background-color: #a5a8aa;
    margin: 30px 5px 0 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer-col .social-link a:hover {
    background-color: white;
}

.icon-bar a:hover {
    background-color: #1A1919;
}

.content {
    margin-left: 75px;
    font-size: 30px;
} */

.footer-social{
    margin: 0 10px 0 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1A1919;
}

.footer-social:hover{
    color: #d6ccc5;
    transition: 0.1s ease-in-out;
}

/* Homepage Animation */

.trans-dp1 {
    position: absolute;
    top: 58vw;
    pointer-events: none;
    animation: trans-dp1 1s linear;
}

@keyframes trans-dp1 {
    0%{
        left: 0px;
    }
    40% {
        left: -1500px;
    }
    to{
        left: -3000px;
    }
}

.trans-cta-1 {
    border-radius: 0px;
    top: 39.94vw;
    z-index: 10;
    position: absolute;
    animation: trans-cta-1 1s linear;
}

@keyframes trans-cta-1 {
    0%{
        left: 120%;
    }
    65% {
        left: 23.7vw;
    }
    75% {
        left: 23.7vw;
    }
    to{
        left: -120%;
    }
}

.trans-img1 {
    pointer-events: none;
    border-radius: 0px;
    z-index: 10;
    height: auto;
    position: absolute;
    animation: trans-img1 1s linear;
}

@keyframes trans-img1 {
    0%{
        top: -500px;
        left: 120%;
        transform: rotate(90deg);
    }
    63% {
        top: 11.71vw;
        left: 50%;
        transform: translateX(-50%);
    }
    68% {
        top: 11.71vw;
        left: 50%;
        transform: translateX(-50%);
    }
    to{
        top: 700px;
        left: 120%;
        transform: rotate(-90deg);
    }
}

.trans-h3-1 {
    z-index: 11;
    width: 25.26vw;
    top: 17.8vw;
    height: auto;
    position: absolute;
    color: #1A1919;
    mix-blend-mode: difference;
    animation: trans-h3-1 1s linear;
}

@keyframes trans-h3-1 {
    0%{
        left: 100%;
    }
    65% {
        left: 23.7vw;
    }
    70% {
        left: 23.7vw;
    }
    to{
        left: -1200px;
    }
}

.trans-h4-1 {
    z-index: 11;
    top: 17.8vw;
    width: 14.06vw;
    height: auto;
    position: absolute;
    color: #1A1919;
    mix-blend-mode: difference;
    animation: trans-h4-1 1s linear;
}

@keyframes trans-h4-1 {

    0%{
        left: 120%;
    }
    55% {
        left: 64.32vw;
    }

    70% {
        left: 64.32vw;
    }

    to{
        left: -1200px;
    }
}

.trans-body-1 {
    z-index: 11;
    top: 32vw;
    width: 23.44vw;
    height: auto;
    position: absolute;
    color: #1A1919;
    mix-blend-mode: difference;
    animation: trans-body-1 1s linear;
}

@keyframes trans-body-1 {

    0%{
        left: 120%;
    }
    60% {
        left: 55vw;
    }

    75% {
        left: 55vw;
    }

    to{
        left: -1200px;
    }
}

.trans-body-2 {
    z-index: 11;
    top: 42.2vw;
    width: 14.06vw;
    height: auto;
    position: absolute;
    color: #1A1919;
    mix-blend-mode: difference;
    animation: trans-body-2 1s linear;
}

@keyframes trans-body-2 {

    0%{
        left: 120%;
    }
    65% {
        left: 64.32vw;
    }

    80% {
        left: 64.32vw;
    }

    to{
        left: -1200px;
    }
}

.bg{
    height: 100vh;
    /* background-color: #1A1919; */
    background: url(Images/14.jpg);
    animation: bg 1s linear;
}

/* @keyframes bg {

    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    to{
        opacity: 0;
    }

} */

/* Services Animation */

.trans-dp2{
    position: absolute;
    z-index: 10;
    top: 4.68vw;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: trans-dp2 1s linear;
}

@keyframes trans-dp2{
    0%{
        right: -1000px;
    }
    20% {
        right: -2400px;
    }
}

.trans-dp3{
    position: absolute;
    z-index: 10;
    top: 4.68vw;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: trans-dp3 1s linear;
}

@keyframes trans-dp3{
    20%{
        left: 0px;
    }
    40% {
        left: -1400px;
    }
}

.trans-dp4{
    position: absolute;
    z-index: 10;
    top: 4.68vw;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: trans-dp4 1s linear;
}

@keyframes trans-dp4{
    40%{
        right: -1500px;
    }
    60% {
        right: -2900px;
    }
}

.trans-dp5{
    position: absolute;
    z-index: 10;
    top: 12vw;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: trans-dp5 1s linear;
}

@keyframes trans-dp5{
    60%{
        left: 0px;
    }
    80% {
        left: -1400px;
    }
}

/* About us Animation */

.trans-dp6-img{
    position: absolute;
    top: 18.85vw;
    z-index: 10;
    pointer-events: none;
    animation: trans-dp6-img 1s linear;
}

@keyframes trans-dp6-img{
    0%{
        left: 22.92vw;
    }
    to {
        left: 80.2vw;
    }
}

.trans-dp6{
    position: absolute;
    width: 104.2vw;
    top: 18.85vw;
    z-index: 10;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: trans-dp6 1s linear;
}

@keyframes trans-dp6{
    0%{
        left: 29.8vw;
    }
    to {
        left: 81.88vw;
    }
}

:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}